<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <!-- 引入 ECharts 文件 -->
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 600px;height:400px;"></div>

<script type="text/javascript">
    //第一个图表
    var myChart1 = echarts.init(document.getElementById('main'));

    var app = {
        xday:[],
        yvalue:[]
    };

    // 发送ajax请求，从后台获取json数据
    $(document).ready(function () {
        getData();
    });

    function getData() {
        $.ajax({
            url:'http://develop.api.ifhu.cn/index.php/get_echarts',
            data:{},
            type:'post',
            dataType:'json',
            success:function(result) {
                alert(result);
            },
            error:function (msg) {
                console.log(msg);
                alert('系统发生错误');
            }
        })
    };

</script>
</body>
</html>