<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <!-- 引入 ECharts 文件 -->
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 600px;height:400px;"></div>
<div id="main" style="width: 600px;height:400px;"></div>
<input type="hidden" name="store_id" value="{$store_id}" id="store_id">
<script type="text/javascript">
    //第一个图表
    var myChart1 = echarts.init(document.getElementById('main'));
    var store_id = $(" #store_id ").val();
    alert(store_id);
    var app = {
        xday:[],
        yvalue:[]
    };
    // 发送ajax请求，从后台获取json数据
    $(document).ready(function () {
        getData();
    });
    function getData() {
        $.ajax({
            url:'http://127.0.0.1:8888/api/public/get_echarts',
            data:{'store_id':store_id},
            type:'post',
            dataType:'json',
            success:function(result) {
                console.log(result)
                app.xday=result.xday;
                app.yvalue = result.ydata;
                myChart1.setOption({
                    title: {
                        text: '7日成交量'
                    },
                    tooltip: {},
                    legend: {

                    },
                    xAxis: {
                        data: app.xday
                    },
                    yAxis: {},
                    series: [{
                        type: 'line',
                        data: app.yvalue
                    }]
                })
            },
            error:function (msg) {
                console.log(msg);
                alert('系统发生错误');
            }
        })
    };
</script>
</body>
</html>